.wrapper
{
    background: rgb(219, 216, 216);
}
h1
{
    text-align: center;
    background: chocolate;
}
ul
{
    text-align: center;
}

li
{
display: inline-block;
}
.block
{
    display: inline-block;
    background: cyan;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(3, 139, 26);
}